.card {
    width: 18rem
}
/* Debut Ludo */
html, body{
    height: 100%;
    width: 100%;
}
.mensDiv{
    height: 300px;
    background-color: blue;
}
.womensDiv{
    height: 300px;
    background-color: pink;
}
.kidsDiv{
    height: 300px;
    background-color: yellow;
}

/* Fin Ludo */
